<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2526.1362" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2526.1362" targetFramework="net452" />
  <package id="CefSharp.Common" version="47.0.0-pre01" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="47.0.0-pre01" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Nancy" version="1.4.3" targetFramework="net452" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
</packages>