<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2785.1482" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2785.1482" targetFramework="net452" />
  <package id="CefSharp.Common" version="53.0.0" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="53.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Nancy" version="1.4.3" targetFramework="net452" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
</packages>