<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CefSharp.Own.Example.Wpf</title>
</head>
<body>
    <header>
        <h1>@Model.Text</h1>
    </header>
    <section>
        <h2>CefSharp + OWIN + Nancy + Razor</h2>
        <ul>
            <li>No network requests are made, just in memory requests to the OWIN pipeline</li>
            <li>CefSharp.Owin has no reference to OWIN, just the known Func type that it uses</li>
            <li>This request was rendered using Nancy and the Razor view engine</li>
            <li>TODO</li>
        </ul>
    </section>
</body>
</html>