<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CefSharp.Own.Example.Wpf</title>
</head>
<body>
    <header>
        <h1>@Model.Text</h1>
    </header>
    <section>
        <h2>Backlog</h2>
        <ul class="bugs" id="backlog">
            <li>a bug</li>
        </ul>
    </section>
    <section>
        <h2>Working</h2>
        <ul class="bugs" id="working">
            <li>a bug</li>
        </ul>
    </section>
    <section>
        <h2>Done</h2>
        <ul class="bugs" id="done">
            <li>a bug</li>
        </ul>
    </section>
</body>
</html>