@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CefSharp.Own.Example.Wpf</title>
</head>
<body>
    <header>
        <img src="/Content/logo.png" alt="CefSharp Logo" />
        <h1>Welcome to CefSharp.Owin</h1>
    </header>
    <section>
        @RenderBody()
    </section>
</body>
</html>